body{
    margin: 0;
    padding: 0;
}
.container{
    height: 700px;
    width: 600px;
    margin: 50px auto;
    display: flex;
    padding: 10px;
    position: relative;
}
.side_bar{
    height: 300px;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}
.product_img{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    object-fit: cover; 
    margin: 2px;
    cursor: pointer;
}
.product_img:hover{
    border: 3px solid white;
}
.screen{
    border: 3px solid grey;
    border-radius: 10px;
    height: 600px;
    width: 400px;
    box-shadow: 0px 0px 5px 5px grey;
    
}
#main_img{
    height: 400px;
    width: 400px;
    object-fit: cover;
}
#product_title{
    text-align: center;
    font-family: cursive;
}
.quantity_section{
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.symbol{
    height: 35px;
    width: 35px;
    margin: 15px;
}
.symbol:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.button_section{
    display: flex;
    justify-content: center;  
}
.button{
    height: 40px;
    width: auto;
    background-color: #00b300;
    color: white;
    border: 0;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
}
.button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#quantity{
    font-size: 20px;
}